*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 20px;
}

body {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", serif;
}

.navigation {
  font-family: "poppins", sans-serif;
  position: relative;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 6rem;
  background: #eee;
  line-height: 7rem;
  z-index: 4;
}
.navigation__icon {
  display: inline-block;
  float: right;
  margin-right: 7rem;
  position: relative;
}
.navigation__icon i {
  font-size: 1.8rem;
  margin-left: 2rem;
  color: black;
}
.navigation__input {
  display: inline-block;
  margin-left: 5%;
  height: 6rem;
  width: 25rem;
  position: relative;
  left: 12rem;
  top: -0.7rem;
}
.navigation__input i {
  font-size: 2.5rem;
  color: gray;
  position: absolute;
  left: -3.1rem;
  top: 2.3rem;
}
.navigation__input input {
  width: 25rem;
  border: none;
  border-radius: 0;
  height: 3rem;
  background: #eee;
  padding: 0 0 0.4rem 0;
  border-bottom: 0.1rem solid gray;
  font-size: 1.3rem;
}
.navigation__movie {
  display: inline-block;
  margin-left: 7rem;
}
.navigation__movie h3 {
  font-size: 3rem;
}
.navigation__search {
  position: absolute;
  display: inline-block;
  height: 6rem;
  width: 20rem;
  right: 5%;
}
.navigation__search-input {
  position: relative;
  border: none;
  width: 10rem;
  height: 3rem;
}
.navigation__search-a {
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 3rem;
  background: orange;
}
.navigation__search-a a {
  text-decoration: none;
}
.navigation a div {
  display: inline-block;
  float: right;
  position: relative;
  right: 4rem;
  margin-left: 5rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}

.navigation2 {
  position: absolute;
  display: none;
  z-index: 3;
}
.navigation2 ul {
  width: 18rem;
  height: auto;
  margin-top: 4rem;
}
.navigation2 ul li {
  background: white;
  height: 5rem;
  line-height: 5rem;
  padding: 0 1.5rem 0 2rem;
  animation: nav2 750ms ease-in-out 0s;
}
.navigation2 ul li:hover a {
  font-weight: 600;
}
.navigation2 ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  display: block;
}

.button1 {
  display: block;
  position: relative;
  width: 12rem;
  height: 4rem;
  border-radius: 0;
  border: none;
  background: lightblue;
}
.button1:hover {
  background: lightcoral;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  font-size: 1.7rem;
  display: inline-block;
  border-radius: 10rem;
  position: relative;
  transition: all 0.2s;
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0rem 0.5rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--white {
  background-color: white;
  color: gray;
  /* font-size: 30px; */
}
.btn--white::after {
  background-color: white;
}
.btn--green {
  background-color: #5983e8;
  color: white;
  /* font-size: 30px; */
}
.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.2s;
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-text {
  padding: 5px;
}
.btn-text:link, .btn-text:visited {
  color: #5983e8;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #5983e8;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: #5983e8;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.sections {
  width: auto;
  height: auto;
  position: relative;
  margin-top: 18rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1.7rem;
  padding: 0 6rem;
}
.sections a {
  color: black;
}
.sections div {
  width: auto;
  height: auto;
}
.sections div section {
  height: 80%;
  width: 100%;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.sections div section img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.sections div div {
  width: 100%;
  height: 20%;
}
.sections div div i {
  font-size: 2.3rem;
  color: goldenrod;
  margin: 1rem 0 0 1rem;
}
.sections div div p {
  display: inline-block;
  font-size: 2rem;
}
.sections div div span {
  display: block;
  font-size: 1.2rem;
  margin-left: 1rem;
}

.section1__0 {
  position: absolute;
  left: 6rem;
  top: 13rem;
}
.section1__0 h2 {
  font-weight: 700;
  font-size: 2rem;
}

.grid {
  width: 100%;
  height: 270px;
  background-color: #e0e0e0;
  box-shadow: 0px -2px 6px #5f5f5f;
  position: relative;
  margin-top: 60px;
  bottom: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid > div {
  position: relative;
  /*background-color: lightpink;*/
  width: auto;
  display: grid;
  border-right: 2px solid #fff;
}

.grid > .Lgrid {
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  padding: 2rem;
  font-weight: bold;
  font-size: 20px;
  padding-left: 7rem;
}

.grid > .Rgrid {
  grid-template-columns: 1fr;
  grid-gap: 0.8rem;
  padding: 1rem;
}

.cHead {
  align-self: end;
  padding-left: 50px;
  font-weight: bold;
  font-size: 20px;
  top: 15px;
}

.cBody {
  grid-row: 2/4;
  padding-right: 50px;
  padding-left: 50px;
  height: 120px;
  padding-top: 20px;
}

.social {
  height: 45px;
  padding-left: 50px;
}

.location {
  position: relative;
  /*text-align: center;*/
  top: 0px;
  padding-top: 20px;
}

.phoneNo {
  position: relative;
  /*text-align: center;*/
  padding-top: 20px;
}

.mail {
  position: relative;
  padding-top: 20px;
}

.Lgrid i {
  position: relative;
  /*padding-left: 0;*/
  margin-right: 3px;
  left: 30px;
}

div span {
  position: relative;
  top: -10px;
  margin-left: 40px;
}

.social {
  position: relative;
  float: left;
}

@media (max-width: 320px) {
  .boxes {
    grid-template-columns: 1fr;
    grid-gap: 0.2em;
    grid-row-gap: 1em;
    padding: 1em;
    top: 3em;
  }

  .heading > h1 {
    font-size: 16px;
  }

  .boxes div h3 {
    font-size: 0.9rem;
    top: -12px;
  }

  .boxes > div {
    width: auto;
    height: 22em;
    /*border-radius: 0.2em;*/
  }

  .boxes div h5 {
    font-size: 11px;
  }

  .boxes div div img {
    height: 288px;
  }

  .boxes div p {
    font-size: 13px;
    top: -45px;
  }

  .boxes div > div {
    height: 288px;
  }

  .grid {
    grid-template-columns: 1fr;
    font-size: 12px;
  }

  .grid > .Lgrid {
    padding-left: 1rem;
    font-size: 12px;
  }

  .grid > .Rgrid {
    height: 420px;
    width: 100%;
  }
}
body {
  font-family: "Poppins", sans-serif;
}

.login {
  position: relative;
  width: 25vw;
  height: 85vh;
  left: 50%;
  border-radius: 1rem;
  background: white;
  transform: translateX(-50%);
  top: 7rem;
  padding: 0 3rem;
}
.login__h3 {
  position: relative;
  font-size: 3rem;
  text-align: center;
  top: 2rem;
}
.login div {
  display: inline-block;
  position: relative;
  margin-top: 5rem;
  width: 47%;
  height: 10%;
  text-align: center;
  line-height: 50px;
  font-size: 1.5rem;
}
.login__fb {
  color: white;
  background: #4267b2;
}
.login__fb i {
  color: white;
  margin-right: 1rem;
}
.login__gg {
  color: white;
  background: #db4f42;
  margin-left: 1.5rem;
}
.login__gg i {
  margin-right: 1rem;
}
.login__form {
  margin-top: 4rem;
}
.login__form input:not(:last-child) {
  width: 100%;
  border: 0;
  height: 4rem;
  background: none;
  border-bottom: 1px solid black;
  margin-top: 2rem;
  font-size: 1.5rem;
}
.login__form-username {
  display: block;
}
.login__form-password {
  display: block;
}
.login__form-submit {
  width: 17rem;
  margin-top: 2rem;
  height: 4rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  background: #5983e8;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
}
.login__form-submit:hover {
  background: #00e4d0;
}
.login__span {
  position: relative;
  margin-top: 4rem;
  top: 5rem;
  left: 30%;
}
.login__span a {
  color: blue;
}

.strong {
  position: relative;
  top: 10rem;
  width: 89vw;
  height: 130vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  padding: 1rem 7rem;
}
.strong div:not(:nth-child(1)) {
  height: auto;
  width: auto;
  background: #e0e0e0;
  padding: 3rem;
}
.strong div:not(:nth-child(1)) span {
  display: inline-block;
  font-size: 1.4rem;
  margin-left: 1.5rem;
}
.strong div:not(:nth-child(1)) h3 {
  display: inline-block;
  font-weight: 700;
  font-size: 2rem;
}
.strong div:not(:nth-child(1)) p {
  font-size: 1.2rem;
  display: inline-block;
}
.strong__1 {
  height: 500px;
  line-height: 300px;
  background: lightgray;
}
.strong__1 img {
  display: inline-block;
  width: 20%;
  height: 100%;
}
.strong__1 h1 {
  display: inline-block;
  margin-left: 5rem;
  font-size: 3rem;
  position: absolute;
  top: 7%;
  width: 800px;
  height: 300px;
}
.strong__1 strong {
  position: relative;
  float: right;
  right: 2rem;
  font-size: 2rem;
  display: inline-block;
}

.title2, .title3 {
  position: absolute;
  top: 2000px;
  left: 6rem;
}
.title2 h2, .title3 h2 {
  font-weight: 700;
  font-size: 2rem;
}

.title3 {
  top: 3750px;
}

/*# sourceMappingURL=style.css.map */
